@import "../../global.scss";

.contact {
  background-color: $mainColor;
  display: flex;
  position: relative;
  background: radial-gradient(circle, black, white);
  img{
    
    height: 100%;
    width: 100%;
    z-index: 1;  
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  
  

  .information {
    background: radial-gradient(circle, $mainColor, $secondaryColor);
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $secondaryColor;
    position: absolute;
    height:100%;
    width: 40%;
    left: 30%;
    h2 {  
      overflow: hidden;
      font-size: 30px;
      color: whitesmoke;
    }

    form {
      margin-top: -50px;
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;


      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        text-align: center;
      }

      textarea {
        text-align: center;
        margin-top: -140px;
        width: 300px;
        height: 200px;
        font-size: 14px; 
      }

      button {
        margin-top: -100px;
        width: 200px;
        height: 60px;
        color: $mainColor;
        background-color: white;
        border: none;
        border-radius: 30px;
        font-weight: 500;
        cursor: pointer;
        overflow: hidden;
        font-size: 25px;
        &:focus {
          outline: none;
        }
      }
      span {
        margin-top: -100px;
        overflow: hidden;
        color: white;
        font-size: 20px;
      }
    }
}
}